---
import IconGithub from "../icons/github.astro";
import IconLinkedin from "../icons/linkedin.astro";
import IconRss from "../icons/rss.astro";

const today = new Date();
const otherLinks = {
  Team: "/team",
  Jobs: "https://www.homerun.co/",
  Press: "/press",
  FAQ: "/faq",
  Contact: "/contact",
};

const links = {
  "Privacy Statement":
    "#",
  "Cookie Statement": "#",
  "Policy Plan": "#",
  "Complaint procedure": "#",
  "Financial Statement": "#",
  "FS - Standard form": "#",
  "NRTO Code of Conduct Consumers": "#",
  "NRTO General Terms and Conditions for Consumers": "#",
};

const colors = [
  "blue",
  "indigo",
  "orange",
  "purple",
  "red",
  "yellow",
  "pink",
  "green",
  "teal",
  "cyan",
];
---

<footer>
  <span class="copy-links">
    &copy; {today.getFullYear()} W2 B.V. All rights reserved.
    <nav>
      <a href="#">
        <IconGithub size={24} />
      </a>
      <a href="#">
        <IconLinkedin size={24} />
      </a>
      <a href="/rss.xml">
        <IconRss size={24} />
      </a>
    </nav>
  </span>
  <div class="body">
    <div class="left">
      {
        Object.entries(otherLinks).map(([name, url], index) => (
          <>
            <a style={`--hover: var(--${colors[index]})`} href={url}>
              {name}
            </a>
            {index !== Object.entries(otherLinks).length - 1 && <span>/</span>}
          </>
        ))
      }
      <ul class="address">
        <li>W2 B.V</li>
        <li>0000GG Amsterdam</li>
        <li>Laan van Nieuwmarkt 14</li>
        <li>KvK 123457382</li>
        <li>NL872288990011</li>
      </ul>
    </div>
    <div class="right">
      <a href="##">
        <!-- <Image src={Anaglyphic} alt="42 Logo" width="100" height="100" /> -->
      </a>
    </div>
  </div>
  <ul class="links">
    {
      Object.entries(links).map(([name, url], index) => (
        <>
          <li>
            <a style={`--hover: var(--${colors[index]})`} href={url}>
              {name}
            </a>
          </li>
          {index !== Object.entries(links).length - 1 && <span>/</span>}
        </>
      ))
    }
  </ul>
</footer>

<style>
  footer {
    padding: 2em 4em;
    background: black;
    color: white;
    flex-direction: column;
    gap: 1rem;

    & a {
      --hover: white;
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var(--hover);
      }
    }

    & ul {
        padding: 0;
    }

    & .body {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      & .right {
        display: flex;
        height: min-content;
        align-items: center;
      }

      & .left a {
        font-weight: bold;
      }
    }

    & nav {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    & ul.address {
      list-style: none;
      font-size: 14px;

      & li:first-child {
        font-weight: bold;
      }
    }

    & .copy-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      margin-bottom: 0.75rem;
    }

    & ul.links {
      font-size: 14px;

      /* Gap in the x direction*/
      & span {
        margin: 0 0.2rem;
      }

      & li {
        display: inline;
        list-style: none;
      }
    }
  }
</style>
